{# src/site/SiteBundle/Resources/views/Site/content_page.html.twig #}

{% extends "siteSiteBundle::layout.html.twig" %}

{% block page_title %}COLIS INTERDIT{% endblock %}

{% block content %}
<u><b>Les éléments suivants sont interdits :</b></u><br><br>
<li>Matières biologiques périssables, infectieuses ou non infectieuses.</li>
<li>Organes et dépouilles humains.</li>
<li>Stupéfiants et matières psychotropes.</li>
<li>Objets obscènes ou immoraux.</li>
<li>Produits de contrefaçon.</li>
<li>Animaux vivants (sauf conditions spécifiques).</li>
<li>Animaux morts.</li>
<li>Matières explosives (y compris les munitions inertes ou factices), inflammables (alcools, parfums) radioactives ou corrosives.</li> 
<li>Matières dangereuses telles que le gaz comprimé ou tout objet contenant du gaz ou de l’air comprimé ou liquide (produits aérosols, canots de sauvetage, extincteurs,etc...).</li>
<li>Bijoux, métaux précieux, billets de banque, valeurs au porteur, or ou argent, et autres objets de valeurs (sauf conditions spécifiques).</li>
<li>Objets qui par leur nature ou leur emballage, peuvent présenter un danger pour les agents, salir ou détériorer les affaires personnelles du voyageur ou des autres voyageurs ou l’équipement utilisé par le voyageur.</li>
<li>Déchets dangereux.</li>
<li>Biens culturels ayant un intérêt majeur pour le patrimoine national.</li>
<li>Envois dont le caractère sensible est soumis à des formalités particulières : armes, médicaments, tabacs, amiante, marchandises stratégiques utilisables à des fins civiles ou militaires ou produits issus d’espèces animales ou végétales sauvages protégées par la Convention de Washington.</li>
{% endblock %}