{# src/site/SiteBundle/Resources/views/Site/content_page.html.twig #}

{% extends "siteSiteBundle::layout.html.twig" %}

{% block page_title %}LE SERVICE{% endblock %}

{% block content %}
OuiCarry est un service d'envoi de colis vers l'international.<br><br>
Votre colis est transporté par avion, et est réceptionné par notre représentant dans la ville de destination.<br><br>
La prestation inclut l'enlèvement du colis au domicile de l'expéditeur, et la livraison à domicile du destinataire (voir les zones desservies*).<br><br>
Le dédouanement est inclus dans la prestation.<br><br>
Certains colis ne sont pas acceptés, veuillez consulter la liste des colis interdits
<a href="{{ url('site_colis_interdits') }}">ici</a>.<br><br>
Le délai de livraison est compris entre 3 et 6 jours (à partir du jour d'enlèvement du colis).<br><br>
N’hésitez pas à nous contacter pour obtenir un <a href="{{ url('site_devis') }}">devis</a>.<br><br>
<u><b>Tarification :</b></u><br><br>
- 9 € / kilo<br>
- Tout kilo supplémentaire au-dessus de 10 kg est facturé à 8 € / kilo.<br>
- Enlèvement et livraison à domicile <b>gratuits</b>.<br><br>
<small><i>*Zones desservies pour l'enlèvement et la livraison à domicile:<br>
En France :<br> 
- Paris intra-muros<br> 
- Banlieue parisienne zone 2<br> 
- Banlieue parisienne zone 3 pour les colis de poids supérieur ou égal à 5kg.<br> 
Au Sénégal :<br> 
- Dakar et sa région<br></i></small>
{% endblock %}