{# src/site/SiteBundle/Resources/views/Site/content_page.html.twig #}

{% extends "siteSiteBundle::layout.html.twig" %}

{% block page_title %}LE SERVICE{% endblock %}

{% block content %}
OuiCarry vous permet d’envoyer des colis à vos proches résidant à l'étranger.<br><br>
Votre colis est transporté par avion et réceptionné par notre partenaire à destination.<br><br>
Le dédouanement est inclus dans la prestation.<br><br>
Le délai de livraison (en agence ou à domicile) est compris entre 2 et 7 jours.<br><br>
Les colis de tout type sont acceptés. Mais n'oubliez pas de consulter la liste des colis interdits
<a href="{{ url('site_colis_interdit') }}">ici</a>.<br><br>
N’hésitez pas à nous contacter pour obtenir un <a href="{{ url('site_devis') }}">devis</a>.<br><br>
<u><b>Nos tarifs :</b></u><br> 
9 € / kilo pour le retrait du colis en <a href="{{ url('site_agence') }}">agence</a>.<br>
11 € / kilo pour la livraison du colis à domicile.<br>
{% endblock %}