{% extends "::layout.html.twig" %}

{% block body %}
<div id="titre_page">
{% block page_title %}{% endblock %}
</div>
<div style="padding-top: 30px"></div>
<div id="page">
{% block content %}{% endblock %}
</div>
{% endblock %}